{
    "root": true,
    "overrides": [
        // TypeScript
        {
            "files": ["*.{ts,tsx}"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "ecmaFeatures": {
                    "jsx": true
                },
                "sourceType": "module",
                "project": "./tsconfig.json"
            },
            "plugins": ["@typescript-eslint"],
            "extends": [
                "eslint:recommended",
                "plugin:@typescript-eslint/eslint-recommended",
                "plugin:@typescript-eslint/recommended",
                "plugin:@typescript-eslint/recommended-requiring-type-checking",
                "prettier"
            ],
            "env": {
                "browser": true,
                "jquery": true
            },
            "settings": {},
            "rules": {
                "@typescript-eslint/no-shadow": ["error"],
                // Seems to be buggy so disabling for now
                "@typescript-eslint/no-unsafe-assignment": "off",
                "arrow-body-style": "error",
                "comma-dangle": ["error", "always-multiline"],
                "function-call-argument-newline": ["error", "consistent"],
                "no-duplicate-imports": "error",
                "prefer-const": [
                    "error",
                    {
                        "destructuring": "any",
                        "ignoreReadBeforeAssign": false
                    }
                ],
                "quote-props": ["error", "as-needed"],
                "quotes": ["error", "single", { "allowTemplateLiterals": false }],
                "sort-keys": "off"
            }
        },
        {
            "files": ["**/*.mjs"],
            "parser": "@babel/eslint-parser",
            "parserOptions": {
                "requireConfigFile": false,
                "babelOptions": {
                    "plugins": ["@babel/plugin-syntax-import-assertions"]
                }
            }
        }
    ]
}
