.journal-search-preview {
    margin: 0;
    font-size: smaller;
    padding: 0 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    height: 1.5em;
    line-height: 1.5em;

    border: 0.5em solid transparent;
    box-sizing: content-box;
    background-clip: content-box;
}

.journal-search-result {
    background-color: rgb(255 255 255 / 10%);
    cursor: pointer;
}

.journal-search-result mark:not(.active) {
    background: transparent;
    color: inherit;
}

.journal-page-content mark.active {
    outline: 1px dotted red;
}

.journal-page-content:has(mark.active) {
    color: rgba(0, 0, 0, 0.5);
}

.journal-page-content:has(mark.active) mark:not(.active) {
    color: currentColor;
    background-color: transparent;
}

.journal-search-result:hover {
    background: var(--color-shadow-primary, darkred);
    filter: saturate(0.5);
}

.journal-search-more {
    background: rgb(255 255 255 / 5%);
    text-align: center;
    font-style: italic;
    opacity: 0.5;
}
