.journal-search-preview {
    margin: 0;
    font-size: smaller;
    padding: 0 0.5em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;

    height: 1.5em;
    line-height: 1.5em;

    border: 0.5em solid transparent;
    box-sizing: content-box;
    background-clip: content-box;

    &.journal-search-result {
        background-color: rgb(255 255 255 / 10%);
        cursor: pointer;

        // Don't show marks that aren't relevant
        mark:not(.active) {
            background: transparent;
            color: inherit;
        }

        &:hover {
            background-color: var(--color-shadow-primary, darkred);
            filter: saturate(0.5);
        }
    }

    &.journal-search-more {
        background: rgb(255 255 255 / 5%);
        text-align: center;
        font-style: italic;
        opacity: 0.5;
    }
}

.journal-sheet {
    mark.journal-search {
        color: var(--journal-search-highlight-fg, marktext);
        background-color: var(--journal-search-highlight-bg, mark);
    }

    mark[data-markjs] {
        color: var(--journal-search-highlight-monks-fg, marktext);
        background-color: var(--journal-search-highlight-monks-bg, mark);
    }
}

.journal-entry-pages:has(mark.active) {
    .journal-page-content {
        // Dim out the rest of the page when there's an "active" mark
        color: rgba(0, 0, 0, 0.5);

        // Highlight the active mark
        mark.active {
            outline: 1px dotted red;
        }

        // Don't show other marks if there's an "active" mark
        mark:not(.active) {
            color: currentColor;
            background-color: transparent;
        }
    }
}

.journal-search-preview-container {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    .journal-search-preview {
        max-width: calc(100% - 24px);
    }

    .journal-search-preview-page-title {
        border-bottom: 1px dashed var(--journal-search-page-title-underline-colour, #ea25e3);
        color: var(--journal-search-page-title-text-colour, #8497f7);
        cursor: pointer;
        margin-top: 0.75em;

        &:hover {
            background: rgba(0, 0, 0, 0.2);
            filter: brightness(1.5);
        }
    }
}
